/* scss file copied from tutorialzine.com */
.dialog-button {
  box-sizing: border-box;
  color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  padding: 12px 40px;
  cursor: pointer;
}
.confirm {
  @extend .dialog-button;
  background-color: #87bae1;
  float: left;
}
.cancel {
  @extend .dialog-button;
  background-color: #e4749e;
  float: right;
}
.reset {
  @extend .dialog-button;
  background-color: #123456;
  float: right;
}
